#root {
  padding-top: 76px;
}

body {
  margin: 0;
  font-family: "Mitr", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Mitr", sans-serif !important;
}

.bg-seeliefy {
  background-color: #7f207e;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #a562a4 !important;
  color: #fff !important;
}

.nav-link {
  color: #a562a4 !important;
}

#exampleInputEmail::placeholder,
#exampleInputName::placeholder,
#messageBox::placeholder {
  opacity: 0.5;
}

@media (min-width: 768px) {
  .col-md-custom {
    flex: 0 0 auto;
    width: 10.5% !important;
  }
}

.nav-tabs-custom {
  flex-direction: column;
  border-right: 1px solid #dee2e6;
}

.nav-tabs-custom .nav-item {
  border: none;
}

.nav-tabs-custom .nav-item .active-project {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0) 0%,
    rgba(127, 32, 126, 1) 250%
  );
}
